* {
    box-sizing:border-box;
    font-family:Montserrat,sans-serif;
   }
   @font-face {
    font-family:Montserrat;
    src:url(./fonts/Montserrat-Medium.ttf);
   }
   body,
   html {
    background-color:#2c2f33;
   }
   #page-container {
    line-height:1.5rem;
    height:100%;
   }
   .flex-container {
    display:flex;
    height:100%;
   }
   #content {
    padding:1.5rem;
    flex:20;
    color:#fff;
   }
   main>* {
    max-width:900px;
   }
   #content ul {
    list-style-type:square;
   }
   #sidebar {
    flex:1;
    flex-basis:auto;
    border-radius:25px;
    color:#fff;
    background-color:#23272a;
    box-shadow:0 0 10px 2px #111;
    min-height:98vh;
   }
   #sidebar a {
    text-align:center;
    text-decoration:none;
    color:#fff;
    display:block;
    padding:10px;
    border-radius:25px;
    transition:.4s;
   }
   nav {
    line-height:2rem;
    padding:1rem;
    position:sticky;
    top:0;
   }
   a {
    color:pink;
    text-decoration:none;
   }
   #sidebar a:hover {
    background-color:#7289da;
   }
   blockquote {
    color:#f8ffd2;
   }
   blockquote cite {
    color:#ddc07e;
   }
   
   @media screen and (max-width:1060px) {
    .flex-container {
     flex-direction:column;
     height:auto;
    }
    #sidebar {
     min-height:0;
    }
    #sidebar a {
     display:inline-block;
    }
    img {
        max-width:100%;
        height:auto;
    }
   }
   @media screen and (aspect-ratio:64/27) {
    main>* {
     margin:auto;
    }
   }
   